@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

$mobile: 500px; //Mobile Screen Size
$tablet: 800px; //Tablet Screen Size
$desktop: 1300px; //Desktop Screen Size

* {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, black, #002054);
}

//start photodata css

main {
  width: 55%;
  margin: 0px auto;
  background-color: #fff;
  padding: 1px 30px 30px 30px;
  @media (max-width: $desktop) {
    width: 85%;
  }
  @media (max-width: $mobile) {
    width: 85%;
    padding: 1px 15px 15px 15px;
  }

  header {
    width: 100%;
    margin: 35px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px 30px;
    box-sizing: border-box;
    background: url(/assets/Outer-Space.jpg) no-repeat;
    @media (max-width: $desktop) {
      flex-direction: column;
    }
    @media (max-width: $mobile) {
      margin: 15px auto 35px auto;
    }

    h1 {
      font-family: "Bebas Neue", sans-serif;
      font-size: 7.2rem;
      margin-bottom: 0px;
      margin-top: 5px;
      letter-spacing: 0.2rem;
      text-shadow: 2px 2px 8px #000;
      @media (max-width: $desktop) {
        margin-bottom: -10px;
      }
      @media (max-width: $mobile) {
        font-size: 5.1rem;
      }
    }

    p {
      font-size: 2.1rem;
      font-weight: 700;
      margin-top: 0px;
      margin-bottom: 0px;
      text-shadow: 2px 2px 3px #000;
      margin-left: 30px;
      text-align: center;
      @media (max-width: $desktop) {
        width: auto;
        margin-left: 0px;
        margin-bottom: 10px;
      }
      @media (max-width: $mobile) {
        font-size: 1.8rem;
        width: 100%;
        margin-top: 5px;
      }
    }
  }

  .datesContainer {
    width: 100%;
    padding-bottom: 0px;
    @media (max-width: $desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    label {
      font-size: 1.5rem;
      margin-top: 0px;
      margin-right: 10px;
    }

    input {
      font-size: 1.5rem;
      margin-right: 15px;
      @media (max-width: $mobile) {
        margin-top: 5px;
      }
    }

    .singeDateContainer {
      display: flex;
      align-items: baseline;
      @media (max-width: $desktop) {
        flex-direction: column;
        align-items: center;
      }

      .singeDateInput {
        @media (max-width: $desktop) {
          margin-bottom: 20px;
          margin-top: 5px;
        }
      }
    }

    .divider {
      font-size: 1.8rem;
      font-weight: 500;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      padding: 20px 0px;
      font-style: italic;
      margin-top: 20px;
    }

    .rangeContainer {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      @media (max-width: $desktop) {
        flex-direction: column;
        align-items: baseline;
        align-items: center;
      }

      .startDate {
        margin-right: 20px;
      }

      .rangeDate {
        @media (max-width: $desktop) {
          margin-bottom: 20px;
          margin-top: 5px;
        }
      }
    }

    button {
      padding: 3px 20px;
      font-size: 1.5rem;
    }

    .errorContainer {
      z-index: 50;
      position: absolute;
      font-size: 2rem;
      font-weight: 500;
      color: red;
      background-color: white;
      border: 1px solid red;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;

      #errorMessage {
        margin: 0px;
      }
    }
  }

  //end photodata css

  //start photo css

  article {
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
    padding-bottom: 30px;

    .dataImage {
      img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: -5px;
        box-shadow: 0px 0px 20px #676767;
      }
    }

    .dataDetails {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 1px solid black;
      padding: 20px;
      box-shadow: 0px 0px 20px #676767;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 2.2rem;
          margin: 0px;
        }

        time {
          font-size: 2rem;
        }
      }

      h5 {
        font-size: 1.6rem;
        margin: 10px 0px 0px 0px;
        font-style: italic;
      }

      p {
        font-size: 1.6rem;
        line-height: 1.5;
      }
      button {
        font-size: 1.4rem;
      }

      .interactionContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        margin: 0px;
        padding-bottom: 0px;

        div {
          box-sizing: border-box;
          border: 1px solid red;
          border-radius: 10px;
          color: red;
          cursor: pointer;
          padding: 5px 20px;
          border-radius: 10px;
          transition: box-shadow 800ms ease-in-out, color 800ms ease-in-out;
        }
        div:hover,
        div:focus {
          color: #fff;
          outline: 0;
          box-shadow: 0 0 40px 40px red inset;
        }

        #icons {
          font-size: 2rem;
          margin-right: 10px;
        }

        p {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 0px;
          margin-top: 0px;
        }

        .blue {
          box-sizing: border-box;
          border: 1px solid #002054;
          background-color: transparent;
          border-radius: 10px;
          color: #002054;
          cursor: pointer;
          padding: 5px 20px;
          border-radius: 10px;
          transition: box-shadow 800ms ease-in-out, color 800ms ease-in-out;
        }
        .blue:hover,
        .blue:focus {
          color: #fff;
          outline: 0;
          box-shadow: 0 0 40px 40px #002054 inset;
        }
      }
    }

    .blue {
      box-sizing: border-box;
      border: 1px solid #002054;
      background-color: transparent;
      border-radius: 10px;
      color: #002054;
      cursor: pointer;
      padding: 5px 20px;
      border-radius: 10px;
      transition: box-shadow 800ms ease-in-out, color 800ms ease-in-out;
    }
    .blue:hover,
    .blue:focus {
      color: #fff;
      outline: 0;
      box-shadow: 0 0 40px 40px #002054 inset;
    }
  }

  //end photo css

  footer {
    width: 100%;
    height: 75px;
    background: url(/assets/Footer-Space.jpg) no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    p {
      font-size: 1.6rem;
      font-weight: 500;
      margin-left: 30px;
      text-shadow: 2px 2px 1px #000;
    }

    #shuttle {
      color: white;
      font-size: 6rem;
      margin-right: 30px;
      text-shadow: 2px 2px 0px #000;
    }
  }
}
