@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

header {
  width: 50%;
  margin: 0px auto;

  section {
    h1 {
      font-family: "Bebas Neue", sans-serif;
      font-size: 8rem;
      margin-bottom: 0px;
      letter-spacing: 0.2rem;
    }

    p {
      font-size: 2rem;
      margin-top: 0px;
    }
  }
}

section {
  div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label {
      font-size: 1.5rem;
      margin-top: 0px;
      margin-right: 10px;
    }

    input {
      font-size: 1.5rem;
    }
  }
}

article {
  width: 50%;
  margin: 0px auto;

  .dataImage {
    img {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-bottom: -5px;
      box-shadow: 0px 0px 20px #cccccc;
    }
  }

  .dataDetails {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px #cccccc;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 2.2rem;
        margin: 0px;
      }

      time {
        font-size: 2rem;
      }
    }

    h3 {
      font-size: 1.6rem;
      font-style: italic;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
    }

    div {
      button {
        font-size: 1.4rem;
      }
    }
  }
}
