@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

header {
  width: 50%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 7.2rem;
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 0.2rem;
  }

  p {
    font-size: 2.1rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.datesContainer {
  label {
    font-size: 1.5rem;
    margin-top: 0px;
    margin-right: 10px;
  }

  input {
    font-size: 1.5rem;
    margin-right: 15px;
  }

  .divider {
    font-size: 1.8rem;
    font-weight: 500;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 20px 0px;
    font-style: italic;
    margin-top: 20px;
  }

  .rangeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .startDate {
      margin-right: 20px;
    }
  }

  button {
    padding: 3px 20px;
    font-size: 1.5rem;
  }
}

article {
  width: 50%;
  margin: 0px auto;

  .dataImage {
    img {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-bottom: -5px;
      box-shadow: 0px 0px 20px #676767;
    }
  }

  .dataDetails {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px #676767;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 2.2rem;
        margin: 0px;
      }

      time {
        font-size: 2rem;
      }
    }

    h3 {
      font-size: 1.6rem;
      font-style: italic;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
    }
    button {
      font-size: 1.4rem;
    }

    .interactionContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      margin: 0px;

      div {
        box-sizing: border-box;
        width: 115px;
        border: 1px solid red;
        border-radius: 10px;
        color: red;
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 10px;
        transition: box-shadow 800ms ease-in-out, color 800ms ease-in-out;
      }
      div:hover,
      div:focus {
        color: #fff;
        outline: 0;
        box-shadow: 0 0 40px 40px red inset;
      }

      #icons {
        font-size: 2rem;
        margin-right: 10px;
      }

      p {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 0px;
      }

      .blue {
        box-sizing: border-box;
        border: 1px solid darkblue;
        background-color: transparent;
        border-radius: 10px;
        color: darkblue;
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 10px;
        transition: box-shadow 800ms ease-in-out, color 800ms ease-in-out;
      }
      .blue:hover,
      .blue:focus {
        color: #fff;
        outline: 0;
        box-shadow: 0 0 40px 40px darkblue inset;
      }
    }
  }

  .blue {
    box-sizing: border-box;
    border: 1px solid darkblue;
    background-color: transparent;
    border-radius: 10px;
    color: darkblue;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    transition: box-shadow 800ms ease-in-out, color 800ms ease-in-out;
  }
  .blue:hover,
  .blue:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px darkblue inset;
  }
}
